<html lang="en">
    <head> 
        <meta charset="utf-8" /> 
        <title>Notipp-Server</title>
        <style>
            body {
                margin: 0 auto;
                font-family: arial, calibri;
                padding-top: 50px;
                padding-bottom: 100px;
                width: 960px;
      

                display: flex;
                flex-direction: column;
                gap: 20px;

                table {
                    width: 960px;
                    border-spacing: 0px; 
                    border-collapse: separate;
                }

                tr:first-child {
                    background-color: grey;
                    color: white;
                }

                td:first-child {
                    font-weight: bold;
                    width: 200px;
                }
                
                th, td {
                    padding: 5px 10px;
                    outline: 1px solid hsl(0, 0%, 0%);
                }
                
            }

            .header {
                display: flex; 
                gap: 10px;
                
                h1 {
                    flex: 1;
                    display: flex;
                    align-items: center;
                }

                img {
                    height: 250px;
                    padding: 0px;
                }

                h3 {
                    margin: 0;
                    padding: 0;
                    text-align: center;
                }

                > div {
                    border: 2px solid grey;
                    border-radius: 5px;
                    padding: 20px;
                }
            }

            button {
                cursor: pointer;
            }

            button:hover {
                opacity: 0.8;
            }

            .card {
                word-wrap: break-word;
                width: 250px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <h1>Notipp-Server</h1>
            <div class="ca card">
                <h3>CA DOWNLOAD</h3>
                <img src="data:image/png;base64,{{ caQrImage }}" />
                <br />
                <a href="/ca" target="_blank">
                    <button style="width: 100%; background-color: rgb(50, 70, 780); color: white; border-radius: 5px; border: none; padding: 10px;">
                        Download CA
                    </button>
                </a>
            </div> 
            {{#if showPairQr}}
                <div class="pairing card">
                    <h3>PAIRING</h3>
                    <img src="data:image/png;base64,{{ pairQrImage }}" /><br />
                    <a>
                        <b>{{ pairingSecret }}</b>
                    </a>
                </div>
            {{/if}}
        </div>

        <table class="info-table"> 
            <tr>
                <th colspan="2">
                    NOTIPP-SYSTEM
                </th>
            </tr>
            <tr>
                <td>
                    VERSION
                </td>
                <td>
                    {{ data.notipp.version }}
                </td>
            </tr> <tr>
                <td>
                    USERNAME
                </td>
                <td>
                    {{ data.notipp.username }}
                </td>
            </tr>
        </table>

        <table border="1"> 
            <tr>
                <th colspan="2">
                    NOTIPP-SERVER
                </th>
            </tr>
            <tr>
                <td>
                    ID
                </td>
                <td>
                    {{ data.server.id }}
                </td>
            </tr> 
            <tr>
                <td>
                    HOSTNAME
                </td>
                <td>
                    {{ data.server.hostname }}
                </td>
            </tr>
            <tr>
                <td>
                    IP
                </td>
                <td>
                    {{ data.server.ip }}
                </td>
            </tr>
            <tr>
                <td>
                    PORT
                </td>
                <td>
                    {{ data.server.port }}
                </td>
            </tr>
            <tr>
                <td>
                    OS
                </td>
                <td>
                    {{ data.server.os }}
                </td>
            </tr>
            <tr>
                <td>
                    SSL-CERT
                </td>
                <td>
                    <table style="width: 760">
                        <th colspan="2">
                            CERT-DETAILS
                        </th>
                        <tr>
                            <td>
                                FINGERPRINT
                            </td>
                            <td>
                                {{ data.server.ssl-cert.gingerprint }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                EXPIRATION
                            </td>
                            <td>
                                {{ data.server.ssl-cert.expiration }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table border="1"> 
            <tr>
                <th colspan="2">
                    CA-CERT
                </th>
            </tr>
            <tr>
                <td>
                    FINGERPRINT
                </td>
                <td>
                    {{ data.ca-cert.fingerprint }}
                </td>
            </tr>
            <tr>
                <td>
                    EXPIRATION
                </td>
                <td>
                    {{ data.ca-cert.expiration }}
                </td>
            </tr>
        </table>
    </body>
</html> 